node_modules/
.back_end (2)/
/netlify/

# Archivos de sistema
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
